$playFair-font: "Playfair Display", serif;
$rubik-font: "Rubik", sans-serif;
$Mulish-font: "Mulish", sans-serif;

.section {
  padding: 80px 16px;
  position: relative;

  .section__title {
    font-family: $playFair-font ;
    font-size: 2.25rem;
    line-height: 53px;
    color: #172432;
  }

  .section__div__line {
    border-bottom: 2px solid #FF7757;
    width: 231px;
  }

  .section__para {
    font-family: $rubik-font;
    font-size: 1rem;
    line-height: 21px;
    color: #767E86;
    height: 80px;
  }

  .section__container__arrows {
    display: none;
  }

  .section__div__img__destination {
    img:nth-child(n+2) {
      display: none;
    }
  }

  .section__div__img__offer__container {
    div:nth-child(n+2) {
      display: none;
    }

    .section__div__img__offer>div {
      display: block;
    }

  }

  .section-offer__div {
    div:nth-child(n+2) {
      display: none;
    }
  }

  .section__img__arrows1 {
    position: relative;
    top: 80px;
    left: 45px;
  }

  .section-offer__div {
    width: 288px;
    padding: 20px;
    background: #FFF8F1;
    border-radius: 0 0 26px 26px;

    .section-offer__para {
      font-family: $Mulish-font;
      color: #767E86;
      font-size: 1.7rem;
      margin: 5px;
    }

    .section-offer__div__para {
      font-family: $rubik-font;
      font-size: .8rem;
      color: #172432;
      line-height: 20px;
      height: 248px;
    }

    .section-offer__div__price {
      font-family: $rubik-font;
      font-size: .8rem;
      color: #172432;
    }

    .section-offer__div__price strong {
      font-family: $rubik-font;
      color: #FF7757;
      height: 38px;
      font-size: 1.8rem;
      padding-left: 5px;
    }

    .section-offer__btn {
      padding: 16px 24px;
      width: 127px;
      height: 56px;
      background: #FF7654;
      border-radius: 12px;
      border: none;
      color: white;
      font-family: $rubik-font;
      font-size: 1rem;
    }
  }

  .section__article__para {
    font-family: $rubik-font;
    font-size: .8rem;
    line-height: 38px;
    color: #172432;

  }

  .section__article p:last-of-type {
    font-family: $rubik-font;
    font-size: 1.1rem;
    color: #FF7757;
    padding-top: 10px;

  }

  .section__article p:last-of-type img {

    padding-left: 15px;
  }
}
