@use "section-styles";
@use "footer";

$playFair-font: "Playfair Display", serif;
$rubik-font: "Rubik", sans-serif;
$Mulish-font: "Mulish", sans-serif;
$white-color: white;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  background-image: url(../images/nico-schuth-sBUwDyjPvLM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: -10%;
  background-size: 1254px 1679px;
}

.header {
  margin: 0 16px;

  .header__div__img__container {
    display: flex;
    justify-content: space-between;

    .header__div__img {
      padding: 20px;
    }
  }

  .header-desktop__div {
    display: none;
  }

  .header__div2 {
    margin-top: 90px;
  }
}

.header__title {
  font-family: $playFair-font;
  font-size: 2.2rem;
  color: $white-color;
  font-style: normal;
}

.header__p {
  color: white;
  font-family: $rubik-font;
  font-size: 1.13rem;
}

.main__form {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
  border: 0.5px solid grey;
  border-radius: 2%;

  .main__form__label {
    color: grey;
    padding: 16px;
  }

  .main__form__input {
    border: 0;
    border-bottom: 1px solid;
    width: 90%;
    margin: 10px auto;
  }

  .main__form__input:last-of-type {
    margin-bottom: 60px;
  }

  .main__form_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 20px;
    gap: 12px;
    background: #ff7757;
    border-radius: 0px 0px 16px 16px;
    color: white;
    font-family: $playFair-font;
    font-size: 2.25rem;
    border: none;
  }
}

.section-planners {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;

  &__title {
    font-size: 2.5rem;
    font-family: $playFair-font;
    border-bottom: 3px solid rgb(255, 119, 87);
  }

  &__explain {
    color: rgb(118, 126, 134);
    font-family: $rubik-font;
    font-size: 1.1 rem;
    align-self: stretch;
    margin-top: 10px;
  }

  &__view {
    color: white;
    background-color: rgb(255, 119, 87);
    width: 186px;
    height: 61px;
    border-radius: 12px;
    font-size: 1.1rem;
    border: transparent;
    margin-top: 20px;
  }

  &__rome {
    margin-top: 80px;

    &--divided {
      display: flex;
      justify-content: space-between;
      font-family: $rubik-font;
      font-size: 1.1rem;
      padding-top: 20px;
      padding-right: 16px;
      font-weight: 400;
    }

    &__rometour {
      font-family: $playFair-font;
      font-size: 1.75rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--dividedrating {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      font-family: $rubik-font;
      padding-right: 16px;
    }
  }

  &__paris {
    margin-top: 60px;

    &--divided {
      display: flex;
      justify-content: space-between;
      font-family: $rubik-font;
      font-size: 1.1rem;
      padding-top: 20px;
      padding-right: 16px;
      font-weight: 400;
    }

    &__paristour {
      font-family: $playFair-font;
      font-size: 1.75rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--dividedrating {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      font-family: $rubik-font;
      padding-right: 16px;
    }
  }

  &__barcelona {
    margin-top: 60px;

    &--divided {
      display: flex;
      justify-content: space-between;
      font-family: $rubik-font;
      font-size: 1.1rem;
      padding-top: 20px;
      padding-right: 16px;
      font-weight: 400;
    }

    &__barcelonatour {
      font-family: $playFair-font;
      font-size: 1.75rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--dividedrating {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      font-family: $rubik-font;
      padding-right: 16px;
    }
  }

  &__budapest {
    margin-top: 60px;
    margin-bottom: 100px;

    &--divided {
      display: flex;
      justify-content: space-between;
      font-family: $rubik-font;
      font-size: 1.1rem;
      padding-top: 20px;
      padding-right: 16px;
      font-weight: 400;
    }

    &__budapesttour {
      font-family: $playFair-font;
      font-size: 1.75rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--dividedrating {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      font-family: $rubik-font;
      padding-right: 16px;
    }
  }
}

.section-experiences {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  &--contained {
    background-color: #f5f6f7;
    border-radius: 12px;
    padding: 30px 20px;
    gap: 20px;
  }

  &__hidden-john {
    display: none;
  }

  &__hidden-tamara {
    display: none;
  }

  &__title {
    color: black;
    font-family: $playFair-font;
    font-size: 3rem;
    border-bottom: 3px solid rgb(255, 119, 87);
    margin-bottom: 10px;
  }

  &__explain {
    color: rgb(118, 126, 134);
    font-family: $rubik-font;
    font-size: 1.1rem;
    font-weight: normal;
  }

  &__photo {
    border-radius: 100px;
    padding-top: 20px;
    align-self: flex-start;
    position: relative;
  }

  &__text {
    color: rgb(118, 126, 134);
    font-size: 1.1rem;
    font-family: $rubik-font;
    font-size: normal;
  }

  &__name {
    font-family: $playFair-font;
    font-size: 1.5rem;
    color: rgb(118, 126, 134);
    margin-bottom: 5px;
    font-weight: normal;
  }

  &__job {
    font-family: $rubik-font;
    font-size: 1.1rem;
    color: rgb(118, 126, 134);
    padding-top: 5px;
  }

  &__arrows {
    margin: 20px;
  }
}

.section-newsletter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);

  &--contained {
    border: 0.75px solid rgb(118, 126, 134);
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }

  &__title1 {
    font-family: $playFair-font;
    font-size: 2.5rem;
    color: rgb(118, 126, 134);
    padding-top: 10px;
    margin-bottom: 0;
  }

  &__title2 {
    font-family: $playFair-font;
    font-size: 2.5rem;
    color: rgb(118, 126, 134);
    padding-bottom: 50px;
    margin-top: 0;
  }

  &__email {
    color: rgb(118, 126, 134);
    font-size: 1.25rem;
    padding-bottom: 15px;
    font-family: $rubik-font;
  }

  &__text {
    color: rgb(255, 119, 87);
    background-color: rgb(255, 232, 212);
    border-radius: 12px;
    width: 248px;
    height: 72px;
    border: transparent;
    margin-top: 30px;
  }

  &__text::placeholder {
    color: rgb(255, 119, 87);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
  }

  &__subscribe {
    background-color: rgb(255, 119, 87);
    color: white;
    height: 73px;
    width: 248px;
    border-radius: 12px;
    margin-top: 20px;
    border: transparent;
    font-size: 1.25rem;
  }
}

@media (min-width: 400px) {
  html,
  body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -1072px;
    width: 1440px;
  }

  .header {
    &__title {
      font-size: 4.5rem;
    }
    .header__div__img__container {
      display: none;
    }

    .header-desktop__div {
      display: grid;
      grid-template-columns: 25% 45% 30%;
      padding: 32px;
      align-items: center;

      .header-desktop__nav__ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        color: white;
        font-family: $rubik-font;
        font-size: 0.8rem;
        padding-right: 2em;
      }

      .header-desktop__div__btn {
        display: flex;
        justify-content: flex-start;
        margin-left: 80px;

        button {
          width: 70px;
          font-family: $rubik-font;
          font-size: 0.8rem;
          color: white;
          background: transparent;
          border: none;
        }

        button:last-child {
          background: #ff7757;
          padding: 20px 32px;
          border-radius: 12px;
          width: 110px;
        }
      }
    }
  }

  .main__form {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 400px;
    left: 6px;
    width: 1205px;
  }

  .section {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    width: 1440px;
    position: relative;
    top: 13em;

    .section__title {
      font-family: $playFair-font;
      font-size: 2.25rem;
      line-height: 53px;
      color: #172432;
      margin-top: 200px;
      font-weight: 400px;
      align-self: flex-end;
    }

    .section__div__line {
      border-bottom: 2px solid #ff7757;
      width: 231px;
      align-self: flex-end;
    }

    .section__para {
      font-family: $rubik-font;
      font-size: 1rem;
      line-height: 21px;
      color: #767e86;
      height: 80px;
      align-self: flex-end;
    }

    .section__div__img__destination {
      display: flex;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;

      img:nth-child(-n + 4) {
        display: block;
        width: 497px;
        height: 661px;
      }
    }

    .section__container__arrows {
      position: relative;
      bottom: 132px;
      display: flex;
      .section__img__arrows {
        float: right;
        width: 172px;
        margin-top: 30px;
        align-self: flex-start;
      }
    }

    .section__div__img__offer__container {
      display: flex;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;
      width: 1376px;
      height: 629px;

      div:nth-child(-n + 4) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px;
        gap: 0px 24px;
        width: 437.33px;
        height: 429px;
      }
    }

    .section__img__arrows1 {
      display: none;
    }

    .section-offer__div {
      width: 288px;
      padding: 20px;
      background: #fff8f1;
      border-radius: 0 0 26px 26px;

      div:nth-child(-n + 4) {
        width: 437px;
        height: 343px;
        background: #fff8f1;
        border-radius: 0px 0px 26px 26px;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .section-offer__para {
          font-family: $Mulish-font;
          color: #767e86;
          font-size: 1.7rem;
          margin: 5px;
        }

        .section-offer__div__para {
          font-family: $rubik-font;
          font-size: 0.8rem;
          color: #172432;
          line-height: 20px;
          height: 248px;
        }

        .section-offer__div__price {
          font-family: $rubik-font;
          font-size: 0.8rem;
          color: #172432;
        }

        .section-offer__div__price strong {
          font-family: $rubik-font;
          color: #ff7757;
          height: 38px;
          font-size: 1.8rem;
          padding-left: 5px;
        }

        .section-offer__btn {
          padding: 16px 24px;
          width: 127px;
          height: 56px;
          background: #ff7654;
          border-radius: 12px;
          border: none;
          color: white;
          font-family: $rubik-font;
          font-size: 1rem;
        }
      }
    }

    .section__italy {
      width: 472px;
      height: 602px;
    }

    .section__blog_desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 32px;

      width: 1376px;
      height: 802px;

      .section__article {
        .section__article__para {
          font-family: $rubik-font;
          font-size: 0.8rem;
          line-height: 38px;
          color: #172432;
        }

        .section__article p:last-of-type {
          font-family: $rubik-font;
          font-size: 1.1rem;
          color: #ff7757;
          padding-top: 10px;
        }

        .section__article p:last-of-type img {
          padding-left: 15px;
        }
      }
    }
  }

  .cities {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100vh;
  }

  .section-planners {
    position: relative;

    &__rome {
      margin-top: 60px;

      &--divided {
        display: none;
      }

      &__rometour {
        display: none;
      }

      &--dividedrating {
        display: none;
      }
    }

    &__paris {
      margin-top: 20px;
    }

    &__barcelona {
      margin-top: 60px;

      &--divided {
        display: none;
      }

      &__barcelonatour {
        display: none;
      }

      &--dividedrating {
        display: none;
      }
    }

    &__budapest {
      margin-top: 60px;

      &--divided {
        display: none;
      }

      &__budapesttour {
        display: none;
      }

      &--dividedrating {
        display: none;
      }
    }

    &__view {
      align-self: center;
      margin-bottom: 50px;
      font-size: 1.1rem;
      position: absolute;
      z-index: 1;
      margin-top: 830px;
    }

    &__title {
      font-size: 4rem;
    }

    &__explain {
      font-size: 1.5rem;
    }

    &__view {
      font-size: 1.1rem;
    }
  }

  .section-experiences {
    margin-bottom: 100px;
    margin-top: 200px;

    &__experiences {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 3rem;
      margin-top: 50px;
    }

    &__hidden-john {
      display: inline-block;
      background-color: #f5f6f7;
      border-radius: 12px;
      padding: 30px 20px;
      gap: 20px;
    }

    &__hidden-tamara {
      display: inline-block;
      background-color: #f5f6f7;
      border-radius: 12px;
      padding: 30px 20px;
      gap: 20px;
    }

    &__title {
      align-self: flex-start;
      font-size: 4rem;
    }

    &__explain {
      align-self: flex-start;
      font-size: 1.5rem;
    }

    &__arrows {
      align-self: flex-end;
      margin-top: 100px;
    }
  }

  .section-newsletter {
    position: relative;
    margin-bottom: 90px;
    border-bottom: transparent;

    .section-newsletter--contained {
      position: absolute;
      width: 90%;
      z-index: 1;
      background-color: white;

      .section-newsletter--contained-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        gap: 5rem;
        height: 150px;
        align-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border: transparent;
      }

      .section-newsletter__title1 {
        display: inline-block;
        margin-top: 10px;
        font-size: 4rem;
      }

      .section-newsletter__title2 {
        display: inline-block;
        font-size: 4rem;
      }

      .section-newsletter__email {
        display: block;
        margin-top: 20px;
        font-style: 1.1rem;
      }

      .section-newsletter__text {
        margin-top: 0;
        font-size: 1.1rem;
      }

      .section-newsletter__subscribe {
        margin-top: 55px;
        font-size: 1.1rem;
      }
    }
  }

  footer {
    height: 500px;

    .section-newsletter__title1 {
      display: inline-block;
      margin-top: 10px;
      font-size: 4rem;
    }

    .section-newsletter__title2 {
      display: inline-block;
      font-size: 4rem;
    }

    .section-newsletter__email {
      display: block;
      margin-top: 20px;
      font-style: 1.1rem;
    }

    .section-newsletter__text {
      margin-top: 0;
      font-size: 1.1rem;
    }

    .section-newsletter__subscribe {
      margin-top: 55px;
      font-size: 1.1rem;
    }
  }
}
