* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  background-image: url("../images/nico-schuth-sBUwDyjPvLM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
