$playFair-font: "Playfair Display", serif;
$rubik-font: "Rubik", sans-serif;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  background-image: url("../images/nico-schuth-sBUwDyjPvLM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 60%;
}

.section-experiences {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  &--contained {
    background-color: #f5f6f7;
    border-radius: 12px;
    padding: 30px 20px 20px;
  }
  &__title {
    color: black;
    font-family: $playFair-font;
    font-size: 3rem;
    border-bottom: 3px solid rgb(255, 119, 87);
    margin-bottom: 10px;
  }
  &__explain {
    color: rgb(118, 126, 134);
    font-family: $rubik-font;
    font-size: 1.1rem;
    font-weight: normal;
  }
  &__photo {
    border-radius: 100px;
    padding-top: 20px;
    align-self: flex-start;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  &__text {
    color: rgb(118, 126, 134);
    font-size: 1.1rem;
    font-family: $rubik-font;
  }
  &__name {
    font-family: $playFair-font;
    font-size: 1.5rem;
    color: rgb(118, 126, 134);
  }
  &__job {
    font-family: $rubik-font;
    font-size: 1.1rem;
    color: rgb(118, 126, 134);
  }
}

.section-newsletter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  &--contained {
    border: 0.75px solid rgb(118, 126, 134);
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }
  &__title1 {
    font-family: $playFair-font;
    font-size: 2.5rem;
    color: rgb(118, 126, 134);
    padding-top: 10px;
    margin-bottom: 0;
  }
  &__title2 {
    font-family: $playFair-font;
    font-size: 2.5rem;
    color: rgb(118, 126, 134);
    padding-bottom: 50px;
    margin-top: 0;
  }
  &__email {
    color: rgb(118, 126, 134);
    font-size: 1.25rem;
    padding-bottom: 15px;
    font-family: $rubik-font;
  }
  &__text {
    color: rgb(255, 119, 87);
    background-color: rgb(255, 232, 212);
    border-radius: 12px;
    width: 248px;
    height: 72px;
    border: transparent;
  }
  &__text::placeholder {
    color: rgb(255, 119, 87);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &__subscribe {
    background-color: rgb(255, 119, 87);
    color: white;
    height: 73px;
    width: 248px;
    border-radius: 12px;
    margin-top: 20px;
    border: transparent;
    font-size: 1.25rem;
  }
}

footer {
  background-color: rgba(23, 36, 50, 1);
  color: white;
  font-family: Rubik, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  li {
    list-style: none;
    margin: 8px 0;
    font-weight: normal;
    font-size: 1.1rem;
  }
}

.footer1 {
  font-size: 2.5rem;
  padding-top: 50px;

  &__copyright {
    font-size: 0.8rem;
    text-decoration: none;
    font-style: normal;
  }
}

.footer2 {
  &__title {
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 500;
  }
  &__list {
    padding-inline-start: 0;
  }
}

.footer3 {
  &__title {
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 500;
  }
  &__list {
    padding-inline-start: 0;
  }
}

.footer4 {
  &__title {
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 500;
  }
  &__list {
    padding-inline-start: 0;
  }
}

.footer5 {
  &__title {
    font-size: 1.5rem;
  }

  &__icons {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;

  .nav__img {
    padding: 20px;
  }
}

.header__title {
  font-family: $playFair-font;
  font-size: 2.5rem;
  color: white;
}

.header__p {
  color: white;
  font-family: $rubik-font;
  font-size: 1.13rem;
}

.main__form {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
  border: 0.5px solid grey;
  border-radius: 2%;

  .main__form__label {
    color: grey;
    padding: 16px;
  }

  .main__form__input {
    border: 0;
    border-bottom: 1px solid;
    width: 90%;

    margin: 10px auto;
  }
}
